[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ZeroCodeTeam
[access "refs/for/refs/*"]
	read = group user/ZeroCodeTeam
	push = group user/ZeroCodeTeam
	label-Code-Review = -2..+2 group user/ZeroCodeTeam
	label-Verified = -1..+1 group user/ZeroCodeTeam
	rebase = group user/ZeroCodeTeam
	removeReviewer = group user/ZeroCodeTeam
	submit = group user/ZeroCodeTeam
[access "refs/heads/*"]
	read = group user/ZeroCodeTeam
	create = group user/ZeroCodeTeam
	push = +force group user/ZeroCodeTeam
	pushMerge = group user/ZeroCodeTeam
[access "refs/tags/*"]
	push = +force group user/ZeroCodeTeam
	pushTag = group user/ZeroCodeTeam
	pushSignedTag = group user/ZeroCodeTeam
