[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ZeroCodeTeam_O
	owner = group user/ZeroCodeTeam
	read = group ZeroCodeTeam_D
[access "refs/for/refs/*"]
	push = group ZeroCodeTeam_D
	pushMerge = group ZeroCodeTeam_O
	pushMerge = group user/ZeroCodeTeam
[access "refs/heads/*"]
	read = group user/ZeroCodeTeam
	create = group user/ZeroCodeTeam
	push = group ZeroCodeTeam_D
	pushMerge = group ZeroCodeTeam_O
	pushMerge = block group user/ZeroCodeTeam
[access "refs/tags/*"]
	push = +force group user/ZeroCodeTeam
	pushTag = group user/ZeroCodeTeam
	pushSignedTag = group user/ZeroCodeTeam
