[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ZeroCodeTeam_O
	owner = group user/ZeroCodeTeam
	read = group ZeroCodeTeam_D
[access "refs/for/refs/*"]
	push = group ZeroCodeTeam_D
	pushMerge = group ZeroCodeTeam_O
[access "refs/heads/*"]
	push = block group ZeroCodeTeam_D
	pushMerge = block group ZeroCodeTeam_O
	forgeAuthor = group ZeroCodeTeam_D
	forgeCommitter = group ZeroCodeTeam_D
	label-Code-Review = -2..+2 group ZeroCodeTeam_O
	label-Code-Review = +1..+1 group ZeroCodeTeam_D
	submit = group ZeroCodeTeam_O
[access "refs/tags/*"]
	push = group ZeroCodeTeam_D
	pushTag = group ZeroCodeTeam_D
	create = group ZeroCodeTeam_D
	forgeCommitter = group ZeroCodeTeam_D
[receive]
	requireChangeId = true
[submit]
	action = fast forward only
	mergeContent = false
